
@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.8)">
    <h2>Constrained Admin Page (Task 3)</h2>
    <i>See RouteConfig.cs and Infrastructure/Constraints/AdminRouteConstraint.cs</i>
</div>
